<style>
  p{
      font-weight: bold;
      font-size: large;
  }
    .containerC {
  height: 460px;
  position: relative;
  border: 3px solid blue;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
    #promo_popup_hi {
        display: none;  
    }
  
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
        background:   url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat fixed transparent\9;
        z-index: 9998;
        color: #fff;
        transition: opacity 500ms;
    }
  
    .content h2 {
        font-size: 17pt;
        color: #777;
    }

    .popup {
        margin: 0px;
        padding: 0px;
        z-index: 9999;    
        padding-bottom: 0px;
        text-align: left;
      	//background: transparent;
      	width: 700px;
        border-radius: 0px;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        
    }

    .popup .closePopupCross {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
    }
  
    .help-block {
      font-size: 10pt;
      color: #C71585;
    }
  
    .popup .closePopupLink {
  font-size: 11pt;
      color: #aaa;
      margin-left: 30px;
    }  
  
  @media only screen and (max-width: 800px) {
    .popup{
      width: 90%;

  }
    
  
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


<script>
    
$(document).ready(function() {
 
        $('body').prepend('<div id="promo_popup_hi"><div class="overlay"></div><div class="popup"> <a href="" ><div class="containerC"><div class="vertical-center"><p>Lorem Ipsum is simply the fill text for printers and text files. Lorem Ipsum has been the industry standard fill text since the 1500s, when an unknown printer (N.T. print shopper) used a gallery of texts and mixed them up in such a way that he managed to make a specimen textbook. Not only did it survive 500 years, but it was also entered as filler text in electronic documents, remaining essentially the same as the original. It was popularized in the 60s with the creation of "Letraset" sheets, which contained passages from Lorem Ipsum, and more recently with desktop publishing software, such as Aldus PageMaker, which includes versions of Lorem Ipsum</p></div></div> <a class="closePopupCross" href="#">×</a></a><div class="content"></div>');
    
        $('.closePopupLink, .closePopupCross, .closeLeavePage, .overlay').click(function() {
            $('.overlay, .popup').fadeOut(500);        
        });
  
  var cookieName = 'viewedPromoPopupHi';
  
    function checkCookieValue(cookieName, value) {
    return parseCookies()[cookieName] === value;
  }

  function parseCookies() {
    // cookies are separated by '; '
    var cookies = document.cookie.split('; ');

    var ret = {};
    for (var i = cookies.length - 1; i >= 0; i--) {
      var el = cookies[i].split('=');
      ret[el[0]] = el[1];
    }
    return ret;
  }

  function isDisabled() {
    return checkCookieValue(cookieName, 'true');
  }
  
  if (isDisabled()){return;}else{
		document.getElementById('promo_popup_hi').style.display = "block";
		document.cookie = "viewedPromoPopupHi=true; expires=Session; path=/";
  	}
});

</script>