<style>
    #promo_popup_hi {
        display: none;  
    }
  
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
        background:   url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat fixed transparent\9;
        z-index: 9998;
        color: #fff;
        transition: opacity 500ms;
    }
  
    .content h2 {
        font-size: 17pt;
        color: #777;
    }

    .popup {
        margin: 0px;
        padding: 0px;
        z-index: 9999;    
        padding-bottom: 0px;
        text-align: left;
      	background: transparent;
      	width: 700px;
        border-radius: 0px;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #000;
    }

    .popup .closePopupCross {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
    }
  
    .help-block {
      font-size: 10pt;
      color: #C71585;
    }
  
    .popup .closePopupLink {
  font-size: 11pt;
      color: #aaa;
      margin-left: 30px;
    }  
  
  @media only screen and (max-width: 800px) {
    .popup{
      width: 90%;

  }
  
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


<script>
    
$(document).ready(function() {
 
        $('body').prepend('<div id="promo_popup_hi"><div class="overlay"></div><div class="popup"> <a href="https://login.decathlon.net/?client_id=68c2ade9-cf51-49d6-aec5-6e5e739efe14#/sign-in" ><img style="width: 100%;" src="https://www.decathlon.ph/content/phvoucher/images/popup-click-and-collect1.jpg"> <a class="closePopupCross" href="#">×</a></a><div class="content"></div>');
    
        $('.closePopupLink, .closePopupCross, .closeLeavePage, .overlay').click(function() {
            $('.overlay, .popup').fadeOut(500);        
        });
  
  var cookieName = 'viewedPromoPopupHi';
  
    function checkCookieValue(cookieName, value) {
    return parseCookies()[cookieName] === value;
  }

  function parseCookies() {
    // cookies are separated by '; '
    var cookies = document.cookie.split('; ');

    var ret = {};
    for (var i = cookies.length - 1; i >= 0; i--) {
      var el = cookies[i].split('=');
      ret[el[0]] = el[1];
    }
    return ret;
  }

  function isDisabled() {
    return checkCookieValue(cookieName, 'true');
  }
  
  if (isDisabled()){return;}else{
		document.getElementById('promo_popup_hi').style.display = "block";
		document.cookie = "viewedPromoPopupHi=true; expires=Session; path=/";
  	}
});

</script>