<style>
    #ouibounce-modal {
        display: none;  
    }
  
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
        background:   url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat fixed transparent\9;
        z-index: 9998;
        color: #fff;
        transition: opacity 500ms;
    }
  
    .content h2 {
        font-size: 17pt;
        color: #777;
    }

    .popup {
        margin: 0px;
        padding: 0px;
        z-index: 9999;    
        padding-bottom: 0px;
        text-align: left;
        height: 450px;
        background: #fff;
        border-radius: 0px;
        width: 700px;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #000;
    }

    .popup .closePopupCross {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
    }
  
    .help-block {
      font-size: 10pt;
      color: #C71585;
    }
  
    .popup .closePopupLink {
  font-size: 11pt;
      color: #aaa;
      margin-left: 30px;
    }  
  
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="https://storage.googleapis.com/decathlonph-sources/ouibounce/ouibounce.min.js"></script>

<script>
    
$(function() {
 
        $('body').prepend('<div id="ouibounce-modal"><div class="overlay"></div><div class="popup"> <a href="https://il.decashopv4.com/iw/" ><img style="width: 100%;" src="https://media.decathlon.co.il/modules/decashopfloor/views/img/6fc9d55617dad54b98ab9fa0b4365c41581322b0_multiplebanner1B.jpg"> <a class="closePopupCross" href="#">×</a></a><div class="content"></div>');
    
        $('.closePopupLink, .closePopupCross, .closeLeavePage, .overlay').click(function() {
            $('.overlay, .popup').fadeOut(500);
			
		
        });

  
        ouibounce(document.getElementById('ouibounce-modal'), { aggressive: true });

});

</script>